* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

html {
    font-size: 14px;
}

a {
    color: rgb(67, 192, 182);
    text-decoration: none;
}

button {
    background-color: rgb(67, 192, 182);
    color: black;
    border: none;
    font-size: 1.5rem;
    padding: 5px 10px;
}

input, select {
    background-color: transparent;
    color: rgb(38, 112, 106);
    border: 1px solid rgb(1, 133, 122);
    font-size: 1.5rem;
    padding: 5px 10px;
}

select{
    width: 100%;
}

.link--action {
    text-decoration: underline;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .container__header {
        min-height: 100px;
        color: rgb(67, 192, 182);
        background-color: rgb(63, 63, 63);
        display: flex;
        align-items: center;
        padding: 5px 10px;
        position: relative;

        img {
            max-width: 60px;
            max-height: 60px;
            margin-right: 10px;
        }

        .link--action {
            right: 0px;
            margin-left: auto;
            font-size: 1.4rem;
            display: flex;
            align-items: center;

            a {
                color: rgb(67, 192, 182);
                ;
                text-decoration: none;
                padding: 0px 5px;
            }

            .process--circle {
                position: relative;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                margin: 0px 10px;
                box-shadow: 0px 0px 5px;
                background: conic-gradient(rgb(29, 227, 234) 0.00% 40.00%, rgb(63, 63, 63) 40.00%);
            }

            .process--circle::after {
                content: "";
                position: absolute;
                width: 75%;
                height: 75%;
                background-color: rgb(63, 63, 63);
                transform: translate(-50%, -50%);
                top: 50%;
                left: 50%;
                border-radius: 50%;
                box-shadow: 0px 0px 2px;
            }
        }
    }

    .container__body {
        flex: 1;
        background-image: url(../resource/bg.jpg);
        background-size: cover;
        display: flex;
        padding: 20px 30px;

        .container__body__content {
            font-size: 3rem;
            text-align: center;
            margin: auto;
        }
    }

    .container__footer {
        min-height: 100px;
        color: rgb(67, 192, 182);
        background-color: rgb(63, 63, 63);
        padding: 5px 10px;
    }

    .font--massive {
        font-size: 3rem;
    }

    .font--sub-massive {
        font-size: 2.3rem;
    }
}

form {
    width: fit-content;

    input {
        margin: 10px 0px;
    }

    .font--lighter {
        color: rgb(132, 239, 243);
    }

    button {
        margin: 10px 0px;
        color: white;
    }
}